h2 {
  font-size: large;
  text-align: center;
}

.cart p {
  margin: 0px 0px 0px 25px;
}

.cart {
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 90%;
}

.cartItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: solid rgb(206, 206, 206) 1px;
  background-color: rgb(184, 129, 129);
  border-radius: 15px;
  padding: 10px 0px 10px 0px;
  margin: 10px 0px 10px 0px;
}

.totalContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.totalPrice {
  font-size: 24px;
  font-weight: 600;
}

.cartItemInputs {
  margin-right: 6px;
}

.plusButton {
  width: 20px;
  margin-top: 10px;
}

.minusButton {
  width: 20px;
  margin-top: 10px;
}

.itemTitle {
  font-weight: bold;
  font-size: larger;
}

.priceText {
  font-style: italic;
  color: rgb(236, 236, 236);
  font-weight: bold;
  margin-bottom: 2px;
}

.amountText {
  font-size: large;
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px;
  background-color: aliceblue;
}

.purchaseInfo {
  display: flex;
  align-items: center;
}
