h2 {
  font-size: large;
  text-align: center;
}

.cart p {
  margin: 0px 0px 0px 25px;
}

.cart {
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.cartList {
  padding-left: 5%;
  width: 90%;
}

.cartItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: solid rgb(206, 206, 206) 1px;
  border-radius: 15px;
  padding: 10px 0px 10px 0px;
  margin: 10px 0px 10px 0px;
}
