.cart p {
  margin: 0px 0px 0px 25px;
}

.cart {
  width: 90%;
  overflow: auto;
}

.cartItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: solid rgb(206, 206, 206) 1px;
  border-radius: 15px;
  padding: 10px 0px 10px 0px;
  margin: 10px 0px 10px 0px;
}
