.button {
  border-radius: 50px;
  background-color: rgb(255, 255, 255);
  transition: background-color 0.25s linear 0s;
}

.button:hover {
  background-color: rgb(226, 255, 245);
}

.button:active {
  background-color: rgba(163, 255, 224, 0.83);
}
