.logoContainer {
  display: flex;
  flex-direction: column;
  margin: 35px 0px 35px 20%;
}

.logoContainer h1 {
  text-align: center;
  margin: 0px;
}

.logoContainer p {
  margin: 0px;
  text-align: center;
}
