.hiddenModal {
  display: none;
}

.modal {
  z-index: 3;
  position: fixed;
  display: flex;
  width: 45%;
  justify-content: center;
  border-radius: 15px;
  top: 27.5%;
  left: 27.5%;
  background-color: aliceblue;
  border: solid maroon 3px;
  background-color: rgb(201, 151, 151);
}
